// Colours we use
$color-logo-blue: #375E97;
$color-logo-yellow: #f7941e;
$color-logo-orange: #fb6542;
$color-blue-green-light: #628282;
$color-blue-green-dark: DarkSlateGray;
$color-off-white-text: #C0C0C0;
$color-success: #4F8A10;
$color-error: #cc0000;
$color-warning: #9F6000;


// Social Media Colours
$color-facebook: #4267B2;
$color-twitter: #38A1F3;
$color-pinterest: #BD081C;
$color-linkedin: #0077B5; 
$color-email: #f39c12;

// Standard Colours
$color-white: #fff;
$color-black: #000;

// Image Directory
$image-directory: "/images";

$activeShadow: 0 0 10px rgba($color-blue-green-light, .5);

// FONT
// $small-font-size: 1.0rem;
// $default-font-size: 1.7rem;
// $heading-font-size: 3.5rem;
$small-font-size: 0.8rem;
$default-font-size: 1.4rem;
$heading-font-size: 3.0rem;

// GRID
// $screen-max-width: 114rem;
$screen-max-width: 95rem;
