// Header Search
// Search form 
.ts-form {
    display: grid;
    grid-template-columns: auto 15rem auto 10rem;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    margin-bottom: 2rem;
    @media only screen and (max-width: 600px){
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .ts-form__tutor-subject {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    .ts-form__tutor-level {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }

    .ts-form__tutor-location {
        grid-row: 1 / span 1;
        grid-column: 3 / span 1;
        @media only screen and (max-width: 600px){
            grid-row: 2 / span 1;
            grid-column: 1 / span 1;
        }
    }

    .ts-form__search-btn {
        grid-row: 1 / span 1;
        grid-column: 4 / span 1;
        margin-top: auto;
        margin-bottom:0;
        @media only screen and (max-width: 600px){
            grid-row: 2 / span 1;
            grid-column: 2 / span 1;
        }
    }

}

// Tutor Search Filter


.tsf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid $color-blue-green-dark;
    margin-top: 1rem;
    margin-bottom: 3rem;
    // background-color: purple;
    svg {
        width: 2.5rem;
        height: 2.5rem;
    }
    @media only screen and (max-width: 600px){
        flex-direction: column-reverse;
    }

    .tsf__no_filter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 21.5rem;
        @media only screen and (max-width: 600px){
            width: 100%;
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }

    .tsf__no_filter > span{
        font-size: $default-font-size;
        color: $color-blue-green-dark;
    }

    .tsf__filter_blk {
        display: flex;
        flex-direction: row;
        @media only screen and (max-width: 600px){
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        @media only screen and (max-width: 400px){
            flex-direction: column;
        }
    }

    .tsf__filter_blk_1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @media only screen and (max-width: 600px){
            width: 50%;
        }
        @media only screen and (max-width: 400px){
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    .tsf__filter_blk_2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @media only screen and (max-width: 600px){
            width: 50%;
        }
        @media only screen and (max-width: 400px){
            width: 100%;
        }
    }

    .filter {
        min-width: 8.33rem;
        text-align: center;
    }

    .filter-on {
        fill:green;
        color: green;
    }

    .filter-off {
        fill:red;
        color: red;
    }

    // Sets the tick or cross size
    .filter > svg:last-child{
        width: 1rem;
        height: 1rem;
        margin-bottom: 1.6rem;
    }
    // Sets the 
    .filter > span {
        vertical-align: top;
    }


}

// 
// .ts-filter {
//     display: grid;
//     grid-template-columns: 15rem 1fr;
//     grid-template-rows: min-content 1fr;
//     align-items : center;
//     border-bottom: 1px solid $color-blue-green-dark;
//     margin-bottom: 3rem;

//     svg {
//         width: 2.5rem;
//         height: 2.5rem;
//     }

//     .no-tutors {
//         grid-column: 1 / span 1;
//         grid-row: 1 / span 1;
//         color: $color-blue-green-dark;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         margin: 1rem;
//     }

//     .no-tutors > span{
//         font-size: $default-font-size;
//     }

//     .filters-sort {
//         grid-column: 2 / span 1;
//         grid-row: 1 / span 1;
//         justify-content: space-between;
//         display: flex;
//     }

//     .filters{
//         display: flex;
//         justify-content: flex-end;
//     }

//     .filter {
//         min-width: 8.33rem;
//         text-align: center;
//     }

//     .filter-on {
//         fill:green;
//         color: green;
//     }

//     .filter-off {
//         fill:red;
//         color: red;
//     }

//     // Sets the tick or cross size
//     .filter > svg:last-child{
//         width: 1rem;
//         height: 1rem;
//         margin-bottom: 1.6rem;
//     }
//     // Sets the 
//     .filter > span {
//         vertical-align: top;
//     }

//     .filter-btns {
//         display: flex;
//         justify-content: space-around;
//         flex-direction: row;
//         margin-top: 1rem;
//         margin-bottom: 2rem;
//     }

//     .filter-sort-selections {
//         display: flex;
//         flex-direction: column;
//     }

// }




.tsd {
    height:24rem;
    margin: 4.5rem 0 3.5rem 7.5rem;
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2), 0 .6rem 2rem 0 rgba(0, 0, 0, 0.19);
    font-size: $default-font-size;
    border: 1px solid lightgrey;
    position: relative;
    display: grid;
    grid-template-columns: 14rem 1fr 25rem;
    grid-template-rows: max-content 1fr 1fr 1fr 1fr 1fr max-content;
    color: $color-blue-green-dark;
    border-radius: 2rem;
    @media only screen and (max-width: 750px){
        margin: 10.5rem 0 5.5rem 0;
        grid-template-columns: 14rem 1fr 1fr 25rem;
        grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr auto;
        height:28rem;
    }
    @media only screen and (max-width: 600px){
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto max-content min-content min-content min-content min-content min-content min-content min-content min-content auto;
        height:auto;
    }

    // Colour column 1
    .tsd__highlighted-info {
        grid-column: 1 / span 1;
        grid-row: 1 / span 7;
        background-color: $color-blue-green-dark;
        color: $color-logo-yellow;
        border-radius: 2rem;
        @media only screen and (max-width: 750px){
            grid-column: 1 / span 4;
            grid-row: 1 / span 1;
        }
        @media only screen and (max-width: 600px){
            grid-column: 1 / span 3;
            grid-row: 1 / span 4;

        }
    }

    .tsd__header{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 15rem;
        height: 15rem;
        border-radius: 2rem;
        border: 1px solid $color-logo-yellow;
        background-color: $color-blue-green-dark;
        color: $color-logo-yellow;
        overflow: hidden;
        position: absolute;
        top: 0;
        transform: translate(-7.5rem, -20%);
        @media only screen and (max-width: 750px){
            grid-column: 1 / span 1;
            grid-row: 1 / span 1;
            transform: translate(0, -50%);
        }
        @media only screen and (max-width: 600px){
            // position: static;
            // transform: none;
            grid-column: 3 / span 1;
            grid-row: 1 / span 1;
            transform: translate(-5rem, -40%);

        }

        .tsd__profile-picture {
            height: 10.8rem;
        }

        .tsd__profile_photo{
            margin: 0 auto auto auto;
            display: block;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
        }

        .tsd__rating {
            height: 4.2rem;
            text-align: center;
            font-size: 1rem;
        }
    
        .tsd__review-stars {
            align-self: center;
            svg {
                width: $default-font-size;
                height: $default-font-size;
                fill: $color-logo-yellow;
            }
        }

    
    }

    .tsd__price {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        text-align: right;
        font-size: 2rem;
        font-weight: 700;
        margin-right: 1rem; 
        color: $color-logo-yellow;
        @media only screen and (max-width: 750px){
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;
        }
        @media only screen and (max-width: 600px){
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
            text-align: center;
        }
    }

    .tsd__city { 
        grid-column: 1 / span 1;
        grid-row: 5 / span 2;
        text-align: center;
        color: $color-logo-yellow;
        @media only screen and (max-width: 750px){
            grid-column: 4 / span 1;
            grid-row: 1 / span 1;
        }
        @media only screen and (max-width: 600px){
            grid-column: 1 / span 1;
            grid-row: 4 / span 1;
        }
    }

    .tsd__location {
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        color: $color-logo-yellow;
        @media only screen and (max-width: 750px){
            grid-column: 3 / span 1;
            grid-row: 1 / span 1;
        }
        @media only screen and (max-width: 600px){
            grid-column: 1 / span 1;
            grid-row: 3 / span 1;
        }
    }


    .tsd__title{
        color: $color-blue-green-dark;
        font-size: 2rem;
        font-weight: 700;
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        padding: 0 1rem;
        @media only screen and (max-width: 750px){
            grid-column: 2 / span 2;
            grid-row: 2 / span 1;
            text-align: center;
        }
        @media only screen and (max-width: 600px){
            grid-column: 1 / span 4;
            grid-row: 5 / span 1;
            margin: 3rem 0 2rem 0 ;
        }
    }

    .tsd__desc {
        grid-column: 2 / span 1;
        grid-row: 2 / span 6;
        padding: 0 1rem;
        overflow: hidden;
        @media only screen and (max-width: 750px){
            grid-column: 1 / span 3;
            grid-row: 3 / span 5;
        }
        @media only screen and (max-width: 600px){
            grid-column: 1 / span 4;
            grid-row: 6 / span 1;
            margin-bottom: 2rem;
        }
    }

    .tsd__tuition-location {
        padding: 1rem 0; 
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        // align-items : center;
        svg {
            width: 2.5rem;
            height: 2.5rem;
        }
        @media only screen and (max-width: 750px){
            grid-column: 4 / span 1;
            grid-row: 2 / span 1;
        }
        @media only screen and (max-width: 600px){
            grid-column: 1 / span 3;
            grid-row: 7 / span 1;
            justify-content: center;
        }
    }

    .tsd__filter {
        min-width: 8.33rem;
        text-align: center;
        // @media only screen and (max-width: 600px){
        //     min-width: 66.66%;
        // }
    }

    .tsd__filter-on {
        fill:green;
        color: green;
    }

    .tsd__filter-maybe {
        fill:$color-logo-yellow;
        color: $color-logo-yellow;
    }

    .tsd__filter-off {
        fill:red;
        color: red;
    }

    .tsd__filter-superscript svg:last-of-type {
        width: 1rem;
        height: 1rem;
        margin-bottom: 1.6rem;
    }
    .tsd__filter > span {
        vertical-align: top;
        font-size: 1rem;
    }

    .tutor-info__common {
        display: flex;
        justify-content: space-between;
        margin: 0 1rem;
        span {
            color: $color-blue-green-dark;
        }        
    }

    .tutor-info__degree {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        @media only screen and (max-width: 750px){
            grid-column: 4 / span 1;
            grid-row: 3 / span 1;
        }
        @media only screen and (max-width: 600px){
            grid-column: 1 / span 3;
            grid-row: 8 / span 1;
            margin: 0 20%;
        }
    }

    .tutor-info__teaching {
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
        @media only screen and (max-width: 750px){
            grid-column: 4 / span 1;
            grid-row: 4 / span 1;
        }
        @media only screen and (max-width: 600px){
            grid-column: 1 / span 3;
            grid-row: 9 / span 1;
            margin: 0 20%;
        }
    }

    .tutor-info__hours-taught {
        grid-column: 3 / span 1;
        grid-row: 4 / span 1;
        @media only screen and (max-width: 750px){
            grid-column: 4 / span 1;
            grid-row: 5 / span 1;
        }
        @media only screen and (max-width: 600px){
            grid-column: 1 / span 3;
            grid-row: 10 / span 1;
            margin: 0 20%;
        }
    }

    .tutor-info__avg-response {
        grid-column: 3 / span 1;
        grid-row: 5 / span 1;
        @media only screen and (max-width: 750px){
            grid-column: 4 / span 1;
            grid-row: 6 / span 1;
        }
        @media only screen and (max-width: 600px){
            grid-column: 1 / span 3;
            grid-row: 11 / span 1;
            margin: 0 20%;
        }
    }

    .tutor-info__submit-btn {
        grid-column: 3 / span 1;
        grid-row: 7 / span 1;
        border: none;
        margin: .5rem;
        border-radius: .7rem;
        font-size: $default-font-size;
        padding:1rem;
        @media only screen and (max-width: 750px){
            grid-column: 4 / span 1;
            grid-row: 7 / span 1;
        }
        @media only screen and (max-width: 600px){
            grid-column: 1 / span 4;
            grid-row: 12 / span 1;
        }
    }


}
